body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#root {
  
}

svg {
  display: block;
  margin: 0 auto;
}

#triangle {
  transform-box: fill-box;
  transform-origin: center;
  animation: triangle-rotate 1s linear infinite forwards;
  animation-play-state: paused;
}

#triangle.triangle-rotate {
  /* animation: triangle-rotate 1s linear infinite forwards; */
  animation-play-state: running;
}

@keyframes triangle-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}